h3{color:#082;}h3{color:#082;}
a{text-decoration: none;}
div.hr {
  height: 15px;
  background: #70416d url(line.png) no-repeat scroll center;
}
div.hr hr {
  display: none;
}
body {
  background-color: #cccccc;
}
.header{
  width: 95%;
  height:200px;
  background-image: url(head.png);
  background-repeat: no-repeat
  background-position: top right,
      left,
      right;
}
